body{
    margin: 0;
    padding: 0;
    font-family: 'K2D', 'sans-serif';
    font-weight: 100;
}
header nav img{
    width: 200px;
}
#active{
    font-weight: 600;
    color: rgb(224, 195, 46);
}
section{
    padding: 5rem 60px;
}
section > h1{
    font-size: 36px;
}
section > h1, section > h3{
    color: rgb(31, 70, 118);
}
.parent_section{
    padding: 0 60px;
    background-image: linear-gradient(30deg, rgb(49, 111, 155),  rgba(0, 0, 0, 0.454)), url('../assets/img/cover1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tourParent{
    background-image: linear-gradient(30deg, rgb(49, 111, 155),  rgba(0, 0, 0, 0.454)), url('../assets/img/cover2.jpg');
}
.cover_section header nav ul{
    position: relative;
    float: right;
}
.tourFlex{
    display: flex;
    justify-content: center;
}
.grid_tour{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 5rem;
}
.grid_tour div{
    width: 20rem;
    height: 20rem;
}
.grid_tour div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 4px solid #ffd43b;
}
.tourDayCard{
    width: 100%;
    display: flex;
}
.tourCard{
    color: #004158;
    width: 20rem;
    position: relative;
    display: flex;
    margin-right: 5rem;
    flex-direction: column;
}
.tourCard pre{
    white-space: pre-wrap;
}

.cover_section header nav ul li{
    list-style: none;
    float: left;
    margin: 0 30px;
}
.cover_section header nav ul li a{
    
    color: white;
    font-size: 23px;
    text-decoration: none;
}
.mainDesc{
    width: 100%;
}
.cover_section > div h1{
    font-weight: 400;
    color: white;
    font-size: 36px;
}
.cover_section > div p{
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.cover_section > div button{
    position: relative;
    font-size: 16px;
    color: rgb(31, 70, 118);
    height: 50px;
    width: auto;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgb(245, 219, 87);
}
.readButton{
    text-decoration: none;
    position: absolute;
    right: 0;
    font-size: 16px;
    color: rgb(31, 70, 118);
    padding: 10px;
    font-weight: 700;
    border: none;
    background-color: rgb(245, 219, 87);;
}
.flexThree{
    margin-top: 7rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    display: flex;
    color: white;
}
.stepsThree span{
    width: auto;
    padding: 3px;
    color: rgb(31, 70, 118);
    height: auto;
    background-color: white;
}
.flexCards{
    margin-top: 70px;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}
.flexCards .card{
    background-image: linear-gradient(30deg, rgb(49, 111, 155),  rgba(0, 0, 0, 0.454));
    border-radius: 18px;
    position: relative;
    width: 25em;
    height: 20rem;
}
.flexCards .card #adDesc{
    font-size: 16px;
    bottom: 2rem;
}

.flexCards .card hr{
    width: 5rem;
    bottom: 8rem;
}
.flexCards .card h3, .flexCards .card p, .flexCards .card hr{
    margin:0;
    left: 1rem;
    font-size: 22px;
    color: white;
    position: absolute;
}
.flexCards .card h3{
    font-size: 20px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 9rem;
}
.flexCards .card p{
    font-size: 16px;
    bottom: 5rem;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flexCards .card img{
    object-fit: cover;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 23px;
}
section{
    max-width: 1200px;
    margin: 0 auto;
}
.flexBox{
    color: rgb(31, 70, 118);
    font-size: 22px;
    width: 100%;
    display: flex;
    gap: 10rem;
}
.first_card{
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 3rem;
}
.flexBox hr{
    width: 20rem;
    margin:0;
}
.flexBox .first_card img{
    border: 8px solid #fde89d;
    border-radius: 18px;
    object-fit: cover;
    height: 100%;
    width: 30rem;
    display: inline-block;
}
.flexBox h3 i, .childFlex h3 i{
    border-radius: 50%;
    padding: 10px;
    background-color: #ffd43b;
}
.childFlex{
    display: flex;
    gap: 3rem;
}
#centeredSection{
    text-align: center;
}
.galleryTable{
    position: relative;
    text-align: start;
    justify-content: space-between;
    display: grid;
    gap: 3rem;
    grid: 1;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 20rem);
}
.galleryTable h3, .galleryTable p, .galleryTable hr{
    left: 1rem;
    color: white;
    font-size: 22px;
    position: absolute;
}
.galleryTable .card{
    background-image: linear-gradient(30deg, rgb(49, 111, 155),  rgba(0, 0, 0, 0.454));
    position: relative;
}
.galleryTable .card:hover{
    background-color: linear-gradient(30deg, rgb(0, 0, 0, 0) rgba(0, 0, 0, 0)454);
    transition: 10ms;
}
.galleryTable .card h3{
    bottom: 7rem;
}
.galleryTable .card p{
    font-size: 22px;
    bottom: 3rem;
}
.galleryTable .card hr{
    font-size: 22px;
    bottom: 6rem;
    color: white;
    width: 5rem;
}
.galleryTable .b{
    grid-column: span 2;
}
.galleryTable .card img{
    z-index: -1;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
footer{
    padding-top: 4rem;
    align-items: center;
    background-color: #004158;
    width: 100%;
    display: flex;
    color: white;
    font-size: 15px;
    justify-content: space-around;
}

footer .companyInfo{
    width: 20rem;
}
footer .social nav ul{
    margin: 0;
    left: 0;
    position: absolute;
}

footer nav ul li, footer .social li{
    float: left;
    list-style: none;
    margin: 0 10px;
}
footer nav ul a {
    text-decoration: none;
    color: white
}
footer nav ul li a, footer .social li a{
    font-size: 15px;
    text-decoration: none;
}
#desired{
    display: inline;
}
.searchInput{   
    position: relative;
    background-color: #fff0b9;
    color:#004158;
    bottom: 4rem;
    float: right;
    width: 20rem;
    padding: 10px;
}
.openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    position: absolute;
    left: 0;
    cursor: pointer;
}
nav .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.btn-success{
    background-color: rgb(245, 219, 87);
    color:#004158;
    border: none;
    padding: 10px;
    border-radius: 13px;
    width: 100px;
    font-weight: 600;
}
.filter{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
input{
    border: none;
    filter: drop-shadow(2px 2px 2px #979797);
    border-radius: 12px;
}
.filter select{
    border-radius: 12px;
    width: 10rem;
    padding: 10px;
    border: none;
    filter: drop-shadow(2px 2px 2px #979797);
}
.filter select option{
    height: 20rem;
    padding: 10px;
}
.flexSection{
    gap: 2rem;
}
.flexSection .mainDesc span{
    color: #ffd43b;
    font-weight: 300;
}
.flexSection img{
    margin-top: 2rem;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 4px solid #ffd43b;
}
.blogFlex{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.blogFlex .blogCard{
    font-size: 22px;
    filter: drop-shadow(12px 12px 12px #979797);
}
.blogFlex .blogCard > div{
    position: absolute;
    top:0;
    background-color: #004158;
    color: white;
    right: 0;
}
.blogFlex hr{
    width: 100%;
}
.blogFlex .blogCard span{
    font-weight: 600;
}
.blogFlex .blogCard > div p{
    font-size: 19px;
    margin: 0;
}
.blogFlex .blogCard img{
    object-fit: cover;
    border-radius: 18px;
    margin-right: 3rem;
    width: 20rem;
    height: 20rem;
    float: left;
}
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.serviceCard{
    color:#004158;
    border-radius: 18px;
    font-size: 22px;
    align-items: center;
    text-align: center;
    filter: drop-shadow(12px 12px 12px #979797);
}
.serviceCard i{
    font-size: 30px;
}
.mainDesc div{
    display: flex;
    flex-direction: column;
}
.mainDesc div p{
    font-size: 22px;
}
.mainDesc div p i{
    font-size: 30px;
}
.contactForm{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 3rem;
    padding: 5rem 60px;
    background-image: linear-gradient(30deg, rgb(49, 111, 155),  rgba(0, 0, 0, 0.454)), url('../assets/img/blog1.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}
.contactForm .fillForm{
    width: 30rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactForm .fillForm button{
    width: 20rem;
    height: 3rem;
    background-color: #ffd43b;
    border: none;
    border-radius: 18px;
    font-size: 22px;
    color: #004258;
    font-weight: 600;
}
.contactForm .fillForm input{
    width: 20rem;
    height: 3rem;
}
.contactForm .fillForm textarea{
    border-radius: 18px;
    width: 20rem;
    height: 20rem;
}
.contactForm .map{
    width: 30rem;
    height: 30rem;
    background-image: url('../assets/img/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 10px solid #ffd43b;
}
@media screen and (max-width: 1270px) {
    .flexCards{
        gap: 2rem;
    }
    .flexBox .first_card {
        flex-direction: column-reverse;
    }
    .flexBox .reverse{
        flex-direction: column;
    }
    .flexBox .first_card img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
  }
  @media screen and (max-width: 960px){
    .contactForm{
        flex-direction: column;
        align-items: center;
    }
    .flexSection{
        flex-direction: column;
        align-items: center;
    }
    .flexSection img{
        width: 100%;
    }
    .grid_tour{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 20rem);
    }
    .grid_tour div{
        width: 100%;
    }
    .filter{
        align-items: center;
        flex-direction: column;
    }
    .searchInput{
        display: none;
    }
    .filter input, .filter select{
        width: 100%;
    }
    .filter input{
        padding: 10px;
    }
    .cover_section header nav ul{
        position: absolute;
        margin-top: 3rem;
    }
    nav .mainMenu{
        height: 25rem;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        gap: 3rem;
        flex-direction: column;
        background-color:#fde89d;
        transform: top 1s ease;
        display: none;
    }
    header > a img{
        position: absolute;
        right: 2rem;
        width: 10rem;
    }
    nav .mainMenu .closeMenu{
        display: block;
        top: 20px;
        right: 20px;
    }
    .galleryTable{
        grid-template-columns: repeat(2, 1fr);
    }
    .galleryTable .b{
        grid-column: span 1;
    }
    .openMenu{
        left: 7rem;
        bottom: 6rem;
        position: relative;
        float: right;
        color: white;
        display: inline-block;
    }
    .cover_section header nav ul li a{
        top: 3rem;
        color: #004158;
        position: relative;;
    }
    #active{
        color: rgb(224, 195, 46);
    }
    .closeMenu{
        color: #004158;
        position: absolute;
    }
  }
  @media screen and (max-width: 750px){
    .contactForm .map{
        width: 100%;
        height: 20rem;
    }
    .tourDayCard{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .childFlex{
        flex-direction: column;
    }        
    .flexThree{
        flex-direction: column;
    }
    .flexCards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .galleryTable{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 20rem);
    }
    footer{
        gap: 4rem;
        flex-direction: column;
    }
    .social p{
        margin-bottom: 3rem;
    }
    .closeMenu{
        bottom: 1rem;
    }
    header nav a img{
        width: 135px;
    }
  }
  @media screen and (max-width: 450px){
    .contactForm .fillForm{
        width: 100%;
    }
    .tourCard{
        margin-right: 0;
    }
    .services{
        flex-direction: column;
        align-items: center;
    }
    .galleryTable .card hr{
        display: none;
    }
    .parent_section{
        padding: 0;
    }
    .openMenu{
        left: 3rem;
        bottom: 6rem;
        position: relative;
        color: white;
        display: inline-block;
    }
    .flexBox hr{
        width: 10rem;
    }
    .flexCards .card{
        width: 15rem;
    }
  }